*{
	margin:0;
	padding:0;
	font-family: Century Gothic;

}
/*html, body {
        height: 100%;
        margin: 0px;
    }*/

header{
	
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("./pictures/index2.jpg");
	height:100%;
	width:100%;
	
	background-size: cover;
	background-position: center;
	position: absolute;
	display: block;
	background-repeat: no-repeat;
}


ul{
	

	list-style-type: none;
	float:right;
	margin-top:25px;


}
ul li{
	
	display:inline-block;

}
ul li a{
	
	text-decoration: none;
	color:#fff;
	padding:5px 20px;
	border:1px solid transparent;
	transition: .5s ease;
}
ul li a:hover{
	
	background-color: white;
	color:black;
}

.active a{
	
	background-color: white;
	color:black;

}
.logo{
	
	float:left;
	width:200px;
	height: auto;
	position: relative;
	bottom:60px;
}
.title{
	
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);

}
.title h1{
	
	color: #fff;
	font-size: 30px;

}
.button{

	position:absolute;
	top:80%;
	left:50%;
	transform:translate(-50%,-50%);

}
.btn{
	
	border:1px solid #fff;
	padding:10px 30px;
	color:white;
	text-decoration: none;
	transition: 0.6s;
}
.btn:hover{
	
	background-color: white;
	color:black;
}
.container{
	
	width:60%;
	height:60%;
	position:absolute;
	margin: auto;
	left:0;
	right:0;
	top:21%;

}
.mySlides {
	
	display: none;
}


/* Next & previous buttons */
.prev, .next {

  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
	
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {

  background-color: white;
  color:black;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
.im{
	
	height:70%;
	width:50%;
	top:15%;
	left:25%;
	position: absolute;
	
}
.company{
	
	 
	/*position: relative;*/
	
	width:100%;
	/*height:1740px;*/
	background-color:black;
/*	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(https://images.unsplash.com/photo-1489599849927-2ee91cede3ba?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MjF8fG1vdmllJTIwdGlja2V0c3xlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80);
*/	background-size: cover;
	background-position: center;
	scroll-behavior: smooth;
}
.subcompany{
	

		

 
	padding:20px 20px 20px 20px;
	
}
.medicine{
	
	cursor:pointer;
	display: inline-block;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	position: relative;
	/*left:5%;
	top:10%;*/
	width:18%;
	margin:7px 7px 7px 7px;

	transition: width 1s,height 1s;
	


}
.medpics{
	
	display: block;
	/*border: 3px solid green;*/

	height:326px;
	width:220px;
	
}

.medname{
	
	/*font-family: inconsolata;*/
	display:block;
	float: center;
	font-size: 25px;
	color:orange;
 	/*border: 3px solid green;
*/}
.medicine:hover{

	background-color: transparent;
	color: black;
	width:20%;
}
.medqty{

}
.medprice{

}
#c1{
	 transition: 0.6s ease;
}
.button-box{

	cursor:pointer;
	text-decoration: none;
	color:white;
	background-color: black;
	padding:5px 10px;
	border:1px solid transparent;
	transition: .5s ease;

}
.button-box:hover{
	
		background-color: transparent;
	color:black;
}
.quantity{
	
	padding:10px 0;
	margin:5px 0;
	border-left:0;
	border-top:0;
	border-right:0;
	border-bottom:1px solid #999;
}
.compname{
	
	
	position: relative;
	top:15%;
	padding-left:80%;
	

}
.compname h1{
	margin-top: 13px;
	margin-bottom: 13px;
	width: 96%;
	border:4px solid white;
	padding-left: 10px;
	color: white;
	font-size: 40px;

}

.moviename{
	
	margin: 3px;
	color: white;
	font-family: Century Gothic;
	font-size: 17px;
}
#k2{

	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("./pictures/index3.jpg");
}